<p>Dear {NAME}</p>
<p>
    Further to my last correspondence, if you have not yet made contact with Raj Pawar, HR Immigration Compliance Officer on extension 51110 or <a href="mailto:hrservices@contacts.bham.ac.uk">hrservices@contacts.bham.ac.uk</a>  you are advised to do so immediately. 
    This is to ensure that all the appropriate action in respect of your upcoming visa expiry can take place.
</p>
<p>HR Operations    </p>