<p>Dear {NAME}</p>
<p>
    Further to my previous email, I note that you have not yet provided Rajvinder Pawar with the completed personal details form. 
    It is important that you comply with this request, as the University is obliged to demonstrate to UKVI that as your sponsor we hold up to date accurate personal details for you.
</p>
<p>
    <span>I should be grateful if you could complete the form linked here:</span><br />
    <a href="https://intranet.birmingham.ac.uk/hr/documents/public/immigration/Personal-Details-form-for-Sponsored-Employees.docx ">https://intranet.birmingham.ac.uk/hr/documents/public/immigration/Personal-Details-form-for-Sponsored-Employees.docx </a><br />
    <span>and return it to {PO_NAME}, HR Immigration Compliance Officer to <a href="mailto:HRServices@contacts.bham.ac.uk">HRServices@contacts.bham.ac.uk</a> as soon as possible.</span>
</p>
<p>HR Operations    </p>