<p>Dear {NAME}</p>
<p>
    Further to my two previous emails, I note that you have not responded to my request. 
    It is imperative that you provide {PO_NAME}, HR Immigration Compliance Officer with your up to date personal details to <a href="mailto:HRServices@contacts.bham.ac.uk">HRServices@contacts.bham.ac.uk</a> as a matter of urgency. The form can be found: https://intranet.birmingham.ac.uk/hr/documents/public/immigration/Personal-Details-form-for-Sponsored-Employees.docx 
</p>
<p>Failure to comply with these requirements may result in disciplinary action and/or withdrawal of your Certificate of Sponsorship and thereby your eligibility to work legally in the UK.</p>
<p>HR Operations
</p>